body{
    background-color: #12181ff5;
    font-family: 'Rubik', sans-serif
}

*{
    color: #fff;
    font-size: 15px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%; 
    color: white;
    text-align: center;
    padding: 14px 0;
  }
  
  footer p {
    margin: 0;
  }

.navbar-brand{
    font-size: 18px;
}

.navbar-brand::before {
    content: "Ir al inicio";
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #333;
    color: #fff; 
    padding: 10px;
    white-space: nowrap;
    border-radius: 4px;
}

.navbar-brand:hover::before {
    display: block;
}

.accordion-button{
    background-color: #101922f5;
    color:#fff;
}

.accordion-body{
    background-color: #101922f5;
    color:#fff;
}

#Update{
    display: none;
}

.titles{
    text-align: center;
    color: white;
}

#searchInput{
    display: flex;
    text-align: left;
    color: black;
}

#total{
    display: none;
}

.nav-link{
    color: indianred;
}

.border {
    border-width: 2px !important;
}

.card {
    background-color: rgb(20, 40, 100);
    color: #fff;
}

.card-body {
    background-color: rgb(31, 54, 158);
    color: #fff;
}

.pagination .page-item .page-link {
    color: #ffffff;
    border: 1px solid #0dcaf0;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    background-color: #2a2b2c;
}

.pagination .page-item .page-link:hover {
    background-color: #2a2b2c;
    color: #ffffff;
    border-color: #b8173a;
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.pagination .page-item.active .page-link {
    background-color: #b8173a;
    color: white;
}
